/*------------------------------------*\
  #pc,其他的配置的参数
\*------------------------------------*/
@import "./variables.scss";

/*------------------------------------*\
  #pc,移动可以通用的样式
\*------------------------------------*/

/*------------------------------------*\
  #PC端样式
\*------------------------------------*/

@include mq($pc) {

  .app {
    $width : $mainPcWidth;
    $height: $mainPcHeight;
    $url   : url("./images/pc/bg.jpg");
    @include minWidthAndHeight($width, $height, $minPcWidth);
    @include backgroundImage($url, top center, $width $height, no-repeat);
    overflow: hidden;
  }

  .container {
    box-sizing    : border-box;
    height        : $mainPcHeight;
    padding-bottom: $footerPcHeight;
  }

  /* Header  */

  .header {
    box-sizing : border-box;
    position   : relative;
    padding-top: 1px;
    height     : 7.9rem;

    @at-root #{&}__title-and-time {
      $width     : 12.71rem;
      $height    : 5.21rem;
      width      : $width;
      height     : $height;
      margin-left: 6.1rem;
      margin-top : .15rem;
      $url       : url("./images/pc/title.png");
      @include backgroundImage($url, center, $width $height, no-repeat);
    }

    @at-root #{&}__btns-wraper {
      margin-top: -.74rem;

      @at-root #{&}__login-btn {
        $width     : 3.18rem;
        $height    : 1.37rem;
        width      : $width;
        height     : $height;
        margin-left: 10.7rem;
        $url       : url("./images/pc/login-control.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }
    }

    @at-root #{&}__user-info {
      position   : relative;
      margin-top : .6rem;
      margin-left: 10.5rem;
      width      : auto;
      height     : .7rem;
      font-family: "FZPHFW--GB1-0";
      font-size  : .24rem;
      line-height: .7rem;
      color      : $userInfoColor;
      text-align : left;

      @at-root #{&}__txt,
      #{&}__drop-btn {
        margin-left: .1rem;
        color      : inherit;
      }

      @at-root #{&}__txt {
        color      : #fb5c6d;
        font-size  : 25px;
        line-height: 35px;
        min-width  : 300px;
        display    : inline-block;
      }

      @at-root #{&}__txt:nth-child(1) {
        min-width: 150px;
      }
    }
  }

  /* End Header  */

  /* download-box */
  /* 下载的右侧悬浮窗 */

  .download-box {
    @include fixedRightBox(2.42rem, 2.66rem, 5.5rem, 0);

    @at-root #{&}__control-btn {
      position  : absolute;
      top       : 0.89rem;
      left      : -0.52rem;
      $width    : .4rem;
      $height   : .64rem;
      width     : $width;
      height    : $height;
      margin-top: .15rem;
      $url      : url("./images/pc/nav-btn.png");
      @include backgroundImage($url, center, $width $height, no-repeat);
      cursor: pointer;

      @at-root #{&}--hide {
        transform: rotateZ(0);
      }

      @at-root #{&}--show {
        transform: rotateZ(180deg);
      }
    }

    @at-root #{&}__content {
      $width : 2.42rem;
      $height: 2.66rem;
      width  : $width;
      height : $height;
      $url   : url("./images/pc/nav-bg.png");
      @include backgroundImage($url, center, $width $height, no-repeat);

      @at-root #{&}__btn {
        display            : inline-block;
        $width             : 1.98rem;
        $height            : .57rem;
        width              : $width;
        height             : $height;
        margin-left        : .22rem;
        margin-top         : .13rem;
        background-size    : $width $height;
        background-repeat  : no-repeat;
        background-position: center;

        @at-root #{&}--ios {
          margin-top      : .33rem;
          background-image: url("./images/pc/ios.png");
        }

        @at-root #{&}--google {
          background-image: url("./images/pc/google.png");
        }

        @at-root #{&}--facebook {
          background-image: url("./images/pc/fans.png");
          margin-bottom   : 0;
        }
      }
    }
  }

  /* End download-box */

  /* 活动开始 */

  /* 活动一 国庆登录 10.1 10.10 */
  .act1 {
    width      : 11.82rem;
    height     : 5.37rem;
    margin-left: 3.69rem;

    @at-root #{&}__title {
      $width     : 7.17rem;
      $height    : .81rem;
      width      : $width;
      height     : $height;
      margin-left: 2.09rem;
      $url       : url("./images/pc/act1-title.png");
      @include backgroundImage($url, center, $width $height, no-repeat);
    }

    @at-root #{&}__desc {
      display: none;
    }

    @at-root #{&}__content {
      /* 占下位 */
      display: block;
    }

    @at-root #{&}__gifts {
      width      : 100%;
      height     : 3.7rem;
      margin-top : .16rem;
      overflow   : hidden;
      $giftWidth : 2.8rem;
      $giftHeight: 2.5rem;

      @at-root #{&}__gift {
        width      : $giftWidth;
        height     : $giftHeight;
        float      : left;
        margin-left: .56rem;
        transition : top 0.1s ease-out;
      }

      @for $i from 1 through 5 {
        @at-root #{&}__gift--#{$i} {
          $url : url("./images/pc/act1-gift#{$i}.png");
          @include backgroundImage($url, center, $giftWidth $giftHeight, no-repeat);
        }
      }

      @at-root #{&}__gift--1 {
        margin-left: 0;
        margin-top : .47rem;

        @at-root #{&}:hover {
          position: relative;
          top     : -.1rem;
        }
      }

      @at-root #{&}__gift--2 {
        margin-left: -.8rem;
        margin-top : 1.19rem;

        @at-root #{&}:hover {
          position: relative;
          top     : .1rem;
        }
      }

      @at-root #{&}__gift--3 {
        margin-left: -.3rem;
        margin-top : .56rem;

        @at-root #{&}:hover {
          position: relative;
          top     : -.1rem;
        }
      }

      @at-root #{&}__gift--4 {
        margin-left: -.3rem;

        @at-root #{&}:hover {
          position: relative;
          top     : .1rem;
        }
      }

      @at-root #{&}__gift--5 {
        margin-left: -.8rem;
        margin-top : .86rem;

        @at-root #{&}:hover {
          position: relative;
          top     : -.1rem;
        }
      }
    }

    $act1BtnWidth :2.47rem;
    $act1BtnHeight:.76rem;

    @at-root #{&}__join-btn {
      display    : block;
      width      : $act1BtnWidth;
      height     : $act1BtnHeight;
      margin-top : -.05rem;
      margin-left: 4.7rem;

      @at-root #{&}--end {
        $url: url("./images/pc/act1-joined.png");
        @include backgroundImage($url, center, $act1BtnWidth $act1BtnHeight, no-repeat);
      }

      @at-root #{&}--start {
        $url: url("./images/pc/act1-join.png");
        @include backgroundImage($url, center, $act1BtnWidth $act1BtnHeight, no-repeat);
      }
    }
  }

  .act3 {
    $height             : 7.63rem;
    height              : $height;
    $background-size    : 14.73rem $height;
    $background-position: 2.34rem 0;
    $url                : url("./images/pc/act3-bg.png");
    @include backgroundImage($url, $background-position, $background-size, no-repeat);
  }

  .act4 {
    $height             : 3.47rem;
    height              : $height;
    $background-size    : 11.33rem $height;
    $background-position: 4.11rem center;
    $url                : url("./images/pc/act4-bg.png");
    @include backgroundImage($url, $background-position, $background-size, no-repeat);

  }

  .act6 {
    $height             : 7.11rem;
    height              : $height;
    $background-size    : 12rem $height;
    $background-position: 3.6rem center;
    $url                : url("./images/pc/act6-bg.png");
    @include backgroundImage($url, $background-position, $background-size, no-repeat);
  }

  /* 活动结束 */

  /* footer的样式 */
  .#{$footerClassName} {
    @include footer($footerPcHeight, $footerBackgroundValue);

    @at-root #{&}__logo {
      $width : 2.46rem;
      $height: .77rem;
      width  : $width;
      height : $height;
      $url   : url("./images/pc/bottomLogo.png");
      @include backgroundImage($url, center, $width $height, no-repeat);
    }
  }

  /* footer的样式结束 */

  /* 滚动条样式 */

  @include scrollbar(8px, 8px, 8px, rgb(125, 125, 125), rgb(11, 205, 240));

  /* 滚动条样式结束 */

}

/*------------------------------------*\
  #移动端样式
\*------------------------------------*/

@include mq($mobile) {

  .app {
    $width : $mainMbWidth;
    $height: $mainMbHeight;
    $url   : url("./images/mb/bg.jpg");
    @include backgroundImage($url, top center, $width $height, no-repeat);
    overflow: hidden;
  }

  .container {
    box-sizing    : border-box;
    height        : $mainPcHeight;
    padding-bottom: $footerMbHeight;
  }

  /* Header  */

  .header {
    box-sizing : border-box;
    position   : relative;
    padding-top: 1px;
    height     : 12.84rem;

    @at-root #{&}__title-and-time {
      $width    : 7.5rem;
      $height   : 4.17rem;
      width     : $width;
      height    : $height;
      margin-top: 1.03rem;
      $url      : url("./images/mb/title.png");
      @include backgroundImage($url, center, $width $height, no-repeat);
    }

    @at-root #{&}__btns-wraper {
      margin-top: -.32rem;

      @at-root #{&}__login-btn {
        $width     : 2.55rem;
        $height    : 1.1rem;
        width      : $width;
        height     : $height;
        margin-left: 2.88rem;
        $url       : url("./images/pc/login-control.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }
    }

    @at-root #{&}__user-info {
      position   : relative;
      margin-top : .32rem;
      margin-left: 1.09rem;
      width      : auto;
      height     : .7rem;
      font-family: "FZPHFW--GB1-0";
      font-size  : .24rem;
      line-height: .7rem;
      color      : $userInfoColor;
      text-align : left;

      @at-root #{&}__txt,
      #{&}__drop-btn {
        margin-left: .3rem;
        color      : inherit;
      }

      @at-root #{&}__txt {
        color      : #fb5c6d;
        font-size  : 25px;
        line-height: 35px;
        min-width  : 300px;
        display    : inline-block;
      }

      @at-root #{&}__txt:nth-child(1) {
        min-width: 150px;
      }
    }
  }

  /* download-box */
  /* 下载的右侧悬浮窗 */

  .download-box {
    @include fixedRightBox($mainMbWidth, .81rem, 0, 0);

    @at-root #{&}__control-btn {
      display: none;
    }

    @at-root #{&}__content {
      $width : $mainMbWidth;
      $height: .81rem;
      width  : $width;
      height : $height;
      $url   : url("./images/mb/nav-bg.png");
      @include backgroundImage($url, center, $width $height, no-repeat);

      @at-root #{&}__btn {
        display            : inline-block;
        $width             : 1.98rem;
        $height            : .57rem;
        width              : $width;
        height             : $height;
        margin-left        : .41rem;
        margin-top         : .15rem;
        background-size    : $width $height;
        background-repeat  : no-repeat;
        background-position: center;

        @at-root #{&}--ios {
          margin-top      : .37rem;
          background-image: url("./images/pc/ios.png");
        }

        @at-root #{&}--google {
          background-image: url("./images/pc/google.png");
        }

        @at-root #{&}--facebook {
          background-image: url("./images/pc/fans.png");
        }
      }
    }
  }

  /* End download-box */

  /* 展示活动开始 */
  .act3 {
    $height: 6.72rem;
    height : $height;
    $url   : url("./images/mb/act3-bg.png");
    @include backgroundImage($url, center, $width $height, no-repeat);
  }

  .act4 {
    $height: 3.07rem;
    height : $height;
    $url   : url("./images/mb/act4-bg.png");
    @include backgroundImage($url, center, $width $height, no-repeat);
  }

  .act6 {
    $height: 5.3rem;
    height : $height;
    $url   : url("./images/mb/act6-bg.png");
    @include backgroundImage($url, center, $width $height, no-repeat);
  }

  /* 展示活动结束 */

  /* footer的样式 */


  .#{$footerClassName} {
    @include footer($footerPcHeight, $footerBackgroundValue);

    @at-root #{&}__logo {
      $width : 2.46rem;
      $height: .77rem;
      width  : $width;
      height : $height;
      $url   : url("./images/pc/bottomLogo.png");
      @include backgroundImage($url, center, $width $height, no-repeat);
    }
  }
}

@include mq($pc) {
  .DialogTip {
    width     : 100%;
    height    : 100%;
    position  : fixed;
    top       : 0;
    left      : 0;
    z-index   : 99;
    background: rgba(17, 31, 50, 0.5);

    .tipBox,
    .cdkBox {
      width             : 600px;
      height            : 270px;
      background-size   : 100%;
      position          : fixed;
      top               : 50%;
      left              : 50%;
      margin-left       : -300px;
      margin-top        : -135px;
      border-radius     : 20px;
      background        : #fafdff;
      // background-size: contain;
      // box-shadow     : 0px 14px 0 0px #59a8bf;
      border            : 10px solid #2094c5;

      .tipTxt {
        width            : 80%;
        position         : absolute;
        top              : 50%;
        left             : 50%;
        transform        : translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform   : translate(-50%, -50%);
        -o-transform     : translate(-50%, -50%);
        -ms-transform    : translate(-50%, -50%);
        text-align       : center;
        padding          : 0 30px;
        font-size        : 24px;
        color            : #0976d9;
        line-height      : 30px;
      }

      .close {
        width          : 61px;
        height         : 61px;
        border         : none;
        background     : url("./images/pc/close.png") no-repeat center;
        background-size: contain;
        outline        : none;
        position       : absolute;
        top            : 4px;
        right          : 7px;
        cursor         : pointer;
      }
    }

    .loadingBox {
      width      : 80px;
      height     : 80px;
      position   : fixed;
      top        : 50%;
      left       : 50%;
      background : url("./images/loading.gif");
      margin-left: -40px;
      margin-top : -40px;
    }

    /* 	.rewardBox {
														width      : 692px;
														height     : 489px;
														overflow   : hidden;
														position   : relative;
														top        : 50%;
														left       : 50%;
														margin-left: -346px;
														margin-top : -244.5px;
														background : url("./img/giftList.png") no-repeat;

														.close {
															width   : 50px;
															height  : 50px;
															position: absolute;
															top     : 45px;
															right   : 5px;
														}
														.myReward {
															width      : 420px;
															height     : 320px;
															margin-left: 170px;
															margin-top : 60px;
															color      : #804827;
															// border  : 1px solid red;
															h1 {
																text-align    : center;
																font-size     : 30px;
																font-weight   : bold;
																text-transform: uppercase;
															}
															h1:nth-child(3) {
																font-size    : 24px;
																margin-top   : 15px;
																margin-bottom: 10px;
															}
															section {
																span {
																	width  : 79px;
																	height : 113px;
																	margin : 0 14px;
																	display: inline-block;
																}
																span:nth-child(1) {
																	background         : url("./img/flag1.png") no-repeat;
																	background-position: 0 -15px;
																}
																span:nth-child(2) {
																	background         : url("./img/flag2.png") no-repeat;
																	background-position: 0 -15px;
																}
																span:nth-child(3) {
																	background         : url("./img/flag3.png") no-repeat;
																	background-position: 0 -15px;
																}
																span:nth-child(4) {
																	background         : url("./img/flag4.png") no-repeat;
																	background-position: 0 -15px;
																	margin-right       : 0;
																}
															}
															div {
																width     : 255px;
																height    : 78px;
																margin    : auto;
																text-align: center;
																font-size : 24px;
																strong {
																	float      : left;
																	font-weight: bold;
																	padding-top: 32px;
																}
																.rewardIcon0,
																.rewardIcon2,
																.rewardIcon4,
																.rewardIcon5,
																.rewardIcon6,
																.rewardIcon7,
																.rewardIcon8 {
																	width : 65px;
																	height: 65px;
																	float : right;
																}
																.rewardIcon0 {
																	background     : url("./img/roteIcon0.png") no-repeat center;
																	background-size: contain;
																}
																.rewardIcon2 {
																	background     : url("./img/roteIcon2.png") no-repeat center;
																	background-size: contain;
																}
																.rewardIcon4 {
																	background     : url("./img/roteIcon4.png") no-repeat center;
																	background-size: contain;
																}
																.rewardIcon5 {
																	background     : url("./img/roteIcon5.png") no-repeat center;
																	background-size: contain;
																}
																.rewardIcon6 {
																	background     : url("./img/roteIcon6.png") no-repeat center;
																	background-size: contain;
																}
																.rewardIcon7 {
																	background     : url("./img/roteIcon7.png") no-repeat center;
																	background-size: contain;
																}
																.rewardIcon8 {
																	background     : url("./img/roteIcon8.png") no-repeat center;
																	background-size: contain;
																}
															}
															p {
																text-align : center;
																font-size  : 24px;
																font-weight: bold;
															}
														}
													} */
  }
}

@include mq($mobile) {
  .DialogTip {
    width     : 100%;
    height    : 100%;
    position  : fixed;
    top       : 0;
    left      : 0;
    z-index   : 99;
    background: rgba(17, 31, 50, 0.5);

    .tipBox,
    .cdkBox {
      width             : 6rem;
      height            : 2.7rem;
      background-size   : 100%;
      position          : fixed;
      top               : 50%;
      left              : 50%;
      margin-left       : -3rem;
      margin-top        : -1.35rem;
      border-radius     : 0.2rem;
      background        : #fafdff;
      // background-size: contain;
      // box-shadow     : 0px 14px 0 0px #59a8bf;
      border            : 0.1rem solid #2094c5;

      .tipTxt {
        width            : 80%;
        position         : absolute;
        top              : 50%;
        left             : 50%;
        transform        : translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform   : translate(-50%, -50%);
        -o-transform     : translate(-50%, -50%);
        -ms-transform    : translate(-50%, -50%);
        text-align       : center;
        padding          : 0 0.3rem;
        font-size        : 0.24rem;
        color            : #0976d9;
        line-height      : 0.3rem;
      }

      .close {
        width          : 0.5rem;
        height         : 0.5rem;
        border         : none;
        background     : url("./images/pc/close.png") no-repeat center;
        background-size: contain;
        outline        : none;
        position       : absolute;
        top            : 0.04rem;
        right          : 0.07rem;
        cursor         : pointer;
      }
    }

    .loadingBox {
      width      : 80px;
      height     : 80px;
      position   : fixed;
      top        : 50%;
      left       : 50%;
      background : url("./images/loading.gif");
      margin-left: -40px;
      margin-top : -40px;
    }

    /* 	.rewardBox {
													width      : 692px;
													height     : 489px;
													overflow   : hidden;
													position   : relative;
													top        : 50%;
													left       : 50%;
													margin-left: -346px;
													margin-top : -244.5px;
													background : url("./img/giftList.png") no-repeat;

													.close {
														width   : 50px;
														height  : 50px;
														position: absolute;
														top     : 45px;
														right   : 5px;
													}
													.myReward {
														width      : 420px;
														height     : 320px;
														margin-left: 170px;
														margin-top : 60px;
														color      : #804827;
														// border  : 1px solid red;
														h1 {
															text-align    : center;
															font-size     : 30px;
															font-weight   : bold;
															text-transform: uppercase;
														}
														h1:nth-child(3) {
															font-size    : 24px;
															margin-top   : 15px;
															margin-bottom: 10px;
														}
														section {
															span {
																width  : 79px;
																height : 113px;
																margin : 0 14px;
																display: inline-block;
															}
															span:nth-child(1) {
																background         : url("./img/flag1.png") no-repeat;
																background-position: 0 -15px;
															}
															span:nth-child(2) {
																background         : url("./img/flag2.png") no-repeat;
																background-position: 0 -15px;
															}
															span:nth-child(3) {
																background         : url("./img/flag3.png") no-repeat;
																background-position: 0 -15px;
															}
															span:nth-child(4) {
																background         : url("./img/flag4.png") no-repeat;
																background-position: 0 -15px;
																margin-right       : 0;
															}
														}
														div {
															width     : 255px;
															height    : 78px;
															margin    : auto;
															text-align: center;
															font-size : 24px;
															strong {
																float      : left;
																font-weight: bold;
																padding-top: 32px;
															}
															.rewardIcon0,
															.rewardIcon2,
															.rewardIcon4,
															.rewardIcon5,
															.rewardIcon6,
															.rewardIcon7,
															.rewardIcon8 {
																width : 65px;
																height: 65px;
																float : right;
															}
															.rewardIcon0 {
																background     : url("./img/roteIcon0.png") no-repeat center;
																background-size: contain;
															}
															.rewardIcon2 {
																background     : url("./img/roteIcon2.png") no-repeat center;
																background-size: contain;
															}
															.rewardIcon4 {
																background     : url("./img/roteIcon4.png") no-repeat center;
																background-size: contain;
															}
															.rewardIcon5 {
																background     : url("./img/roteIcon5.png") no-repeat center;
																background-size: contain;
															}
															.rewardIcon6 {
																background     : url("./img/roteIcon6.png") no-repeat center;
																background-size: contain;
															}
															.rewardIcon7 {
																background     : url("./img/roteIcon7.png") no-repeat center;
																background-size: contain;
															}
															.rewardIcon8 {
																background     : url("./img/roteIcon8.png") no-repeat center;
																background-size: contain;
															}
														}
														p {
															text-align : center;
															font-size  : 24px;
															font-weight: bold;
														}
													}
												} */
  }
}