@import "./variables.scss";

/*------------------------------------*\
  #pc,移动可以通用的样式
\*------------------------------------*/


/*------------------------------------*\
  #移动端样式
\*------------------------------------*/

@include mq($mobile) {

  /* 最高层的锚定元素 */
  // .app {
  //   width               : $mainMbWidth;
  //   height              : $mainMbHeight;
  //   $background-image   :url("./images/mb/bg.jpg");
  //   $background-size    : $mainMbWidth $mainMbHeight;
  //   $background-repeat  : no-repeat;
  //   $background-position: top center;
  //   background          : #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
  //   overflow            : hidden;
  // }

  // /* 头部 */
  // #header {
  //   width      : 100%;
  //   height     : 12.84rem;
  //   position   : relative;
  //   padding-top: 1px;
  // }

  // /* 活动时间 */
  // .header_actTime {
  //   margin-top          : 1.03rem;
  //   $width              : 7.5rem;
  //   $height             : 4.17rem;
  //   width               : $width;
  //   height              : $height;
  //   $background-image   :url("../../assets/images/#{$path}/mb/title.png");
  //   $background-size    : $width $height;
  //   $background-repeat  : no-repeat;
  //   $background-position: center;
  //   background          : #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
  // }

  // /* 登录按钮的盒子 */
  // .header_btnBox {
  //   width     : 100%;
  //   margin-top: -.32rem;
  // }

  // /* 登录按钮 */
  // .header_btnBox_loginBtn {
  //   $width              : 2.55rem;
  //   $height             : 1.1rem;
  //   width               : $width;
  //   height              : $height;
  //   margin-left         : 2.88rem;
  //   $background-image   :url("../../assets/images/#{$path}/pc/login-control.png");
  //   $background-size    : $width $height;
  //   $background-repeat  : no-repeat;
  //   $background-position: center;
  //   background          : #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};

  // }

  // /* 用户信息 */
  // .userInfo {
  //   position   : relative;
  //   margin-top : .32rem;
  //   margin-left: 1.09rem;
  //   width      : auto;
  //   height     : .7rem;
  //   font-family: "FZPHFW--GB1-0";
  //   font-size  : .24rem;
  //   line-height: .7rem;
  //   color      : #5d3a9b;
  //   text-align : left;
  // }

  // /* 注销按钮 */
  // .userInfo_span,
  // .userInfo_dropBtn {
  //   margin-left: .3rem;
  //   color      : #5d3a9b;
  // }

  // /* 用户区服等信息 */
  // /*   .userInfo_span {

  //   color      : #fb5c6d;
  //   font-size  : 25px;
  //   line-height: 35px;
  //   min-width  : 300px;
  //   display    : inline-block;
  // } */

  // /*  .userInfo_span:nth-child(1) {
  //   min-width: 150px;
  // } */


  // /* 下载的右侧悬浮窗 */
  // .navBox {
  //   width   : $mainMbWidth;
  //   height  : .81rem;
  //   position: fixed;
  //   top     : 0;
  //   right   : 0;
  //   z-index : $z-index5;
  // }

  // /* 下载的右侧悬浮窗控制按钮 */
  // // .navBox_controlBtn {
  // //   $width              : .4rem;
  // //   $height             : .64rem;
  // //   width               : $width;
  // //   height              : $height;
  // //   $background-image   :url("../../assets/images/#{$path}/pc/nav-btn.png");
  // //   $background-size    : $width $height;
  // //   $background-repeat  : no-repeat;
  // //   $background-position: center;
  // //   background          : #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
  // //   position            : absolute;
  // //   top                 : 0.89rem;
  // //   left                : -0.52rem;
  // //   cursor              : pointer;
  // // }

  // // .navBox_controlBtn1 {
  // //   transform: rotateZ(0)
  // // }

  // // .navBox_controlBtn1 {
  // //   transform: rotateZ(180deg)
  // // }

  // /* 下载的右侧悬浮窗内容盒子 */
  // .navBox_content {
  //   $width              : $mainMbWidth;
  //   $height             : .81rem;
  //   width               : $width;
  //   height              : $height;
  //   $background-image   :url("../../assets/images/#{$path}/mb/nav-bg.png");
  //   $background-size    : $width $height;
  //   $background-repeat  : no-repeat;
  //   $background-position: center;
  //   background          : #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
  // }

  // /* 下载按钮 */
  // .iosDownBtn,
  // .googleDownBtn,
  // .facebookDownBtn {
  //   display            : inline-block;
  //   $width             : 1.98rem;
  //   $height            : .57rem;
  //   width              : $width;
  //   height             : $height;
  //   margin-left        : .41rem;
  //   margin-top         : .15rem;
  //   background-size    : $width $height;
  //   background-repeat  : no-repeat;
  //   background-position: center;
  // }

  // .iosDownBtn {
  //   margin-left     : .37rem;
  //   background-image: url("../../assets/images/#{$path}/pc/ios.png");
  // }

  // .googleDownBtn {
  //   background-image:url("../../assets/images/#{$path}/pc/google.png");
  // }

  // .facebookDownBtn {
  //   background-image: url("../../assets/images/#{$path}/pc/fans.png");
  // }

  // /* footer中的logo */
  // .app_footer {
  //   background: rgba(255, 255, 255, .9);
  // }

  // .bottomLogo {
  //   $width              : 2.46rem;
  //   $height             : .77rem;
  //   width               : $width;
  //   height              : $height;
  //   $background-image   :url("../../assets/images/#{$path}/pc/bottomLogo.png");
  //   $background-size    : $width $height;
  //   $background-repeat  : no-repeat;
  //   $background-position: center;
  //   background          : #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
  // }

  // #act3 {
  //   $width              : 7.5rem;
  //   $height             : 6.72rem;
  //   width               : $width;
  //   height              : $height;
  //   $background-image   :url("../../assets/images/#{$path}/mb/act3-bg.png");
  //   $background-size    : $width $height;
  //   $background-repeat  : no-repeat;
  //   $background-position: center;
  //   background          : #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
  // }

  // #act4 {
  //   $width              : 7.37rem;
  //   $height             : 3.07rem;
  //   width               : $width;
  //   height              : $height;
  //   margin-left         : .05rem;
  //   margin-top          : .77rem;
  //   $background-image   :url("../../assets/images/#{$path}/mb/act4-bg.png");
  //   $background-size    : $width $height;
  //   $background-repeat  : no-repeat;
  //   $background-position: center;
  //   background          : #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
  // }

  // #act6 {
  //   $width              : 7.28rem;
  //   $height             : 5.3rem;
  //   width               : $width;
  //   height              : $height;
  //   $background-image   :url("../../assets/images/#{$path}/pc/act6-bg.png");
  //   $background-size    : $width $height;
  //   $background-repeat  : no-repeat;
  //   $background-position: center;
  //   background          : #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
  // }
}

/*------------------------------------*\
  #PC端样式
\*------------------------------------*/

@include mq($pc) {

  .app {
    $width : $mainPcWidth;
    $height: $mainPcHeight;
    $url   : url("./images/pc/bg.jpg");
    @include minWidthAndHeight($width, $height, $minPcWidth);
    @include backgroundImage($url, top center, $width $height, no-repeat);
    overflow: hidden;
  }

  .container {
    height        : $mainPcHeight - $footerHeight;
    padding-bottom: $footerHeight;
  }

  /* Header  */

  .header {
    position: relative;
    height  : 7.9rem;

    @at-root #{&}__title-and-time {
      $width     : 12.71rem;
      $height    : 5.21rem;
      width      : $width;
      height     : $height;
      margin-left: 6.1rem;
      margin-top : .15rem;
      $url       : url("./images/pc/title.png");
      @include backgroundImage($url, center, $width $height, no-repeat);
    }

    @at-root #{&}__btns-wraper {
      margin-top: -.74rem;

      @at-root #{&}__login-btn {
        $width     : 3.18rem;
        $height    : 1.37rem;
        width      : $width;
        height     : $height;
        margin-left: 10.7rem;
        $url       : url("./images/pc/login-control.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }
    }

    @at-root #{&}__user-info {
      position   : relative;
      margin-top : .6rem;
      margin-left: 10.5rem;
      width      : auto;
      height     : .7rem;
      font-family: "FZPHFW--GB1-0";
      font-size  : .24rem;
      line-height: .7rem;
      color      : #5d3a9b;
      text-align : left;

      @at-root #{&}__txt,
      #{&}__drop-btn {
        margin-left: .1rem;
        color      : #5d3a9b;
      }

      @at-root #{&}__txt {
        color      : #fb5c6d;
        font-size  : 25px;
        line-height: 35px;
        min-width  : 300px;
        display    : inline-block;
      }

      @at-root #{&}__txt:nth-child(1) {
        min-width: 150px;
      }
    }
  }

  // /* 下载的右侧悬浮窗 */
  // .navBox {
  //   width   : 2.42rem;
  //   height  : 2.66rem;
  //   position: fixed;
  //   top     : 5.5rem;
  //   right   : 0;
  //   z-index : $z-index5
  // }

  // /* 下载的右侧悬浮窗控制按钮 */
  // .navBox_controlBtn {
  //   $width              : .4rem;
  //   $height             : .64rem;
  //   width               : $width;
  //   height              : $height;
  //   $background-image   :url("../../assets/images/#{$path}/pc/nav-btn.png");
  //   $background-size    : $width $height;
  //   $background-repeat  : no-repeat;
  //   $background-position: center;
  //   background          : #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
  //   position            : absolute;
  //   top                 : 0.89rem;
  //   left                : -0.52rem;
  //   cursor              : pointer;
  // }

  // .navBox_controlBtn1 {
  //   transform: rotateZ(0)
  // }

  // .navBox_controlBtn1 {
  //   transform: rotateZ(180deg)
  // }

  // /* 下载的右侧悬浮窗内容盒子 */
  // .navBox_content {
  //   $width              : 2.42rem;
  //   $height             : 2.66rem;
  //   width               : $width;
  //   height              : $height;
  //   $background-image   :url("../../assets/images/#{$path}/pc/nav-bg.png");
  //   $background-size    : $width $height;
  //   $background-repeat  : no-repeat;
  //   $background-position: center;
  //   background          : #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
  // }

  // /* 下载按钮 */
  // .iosDownBtn,
  // .googleDownBtn,
  // .facebookDownBtn {
  //   display            : inline-block;
  //   $width             : 1.98rem;
  //   $height            : .57rem;
  //   width              : $width;
  //   height             : $height;
  //   margin-left        : .22rem;
  //   margin-top         : .13rem;
  //   background-size    : $width $height;
  //   background-repeat  : no-repeat;
  //   background-position: center;
  // }

  // .iosDownBtn {
  //   margin-top      : .33rem;
  //   background-image: url("../../assets/images/#{$path}/pc/ios.png");
  // }

  // .googleDownBtn {
  //   background-image:url("../../assets/images/#{$path}/pc/google.png");
  // }

  // .facebookDownBtn {
  //   background-image: url("../../assets/images/#{$path}/pc/fans.png");
  //   margin-bottom   : 0;
  // }



  // #act3 {
  //   $width              : 100%;
  //   $height             : 7.43rem;
  //   width               : $width;
  //   height              : $height;
  //   $background-image   :url("../../assets/images/#{$path}/pc/act3-bg.png");
  //   $background-size    : 14.73rem $height;
  //   $background-repeat  : no-repeat;
  //   $background-position: 2.34rem 0;
  //   background          : #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
  // }

  // #act4 {
  //   $width              : 100%;
  //   $height             : 3.47rem;
  //   width               : $width;
  //   height              : $height;
  //   margin-top          : .2rem;
  //   $background-image   :url("../../assets/images/#{$path}/pc/act4-bg.png");
  //   $background-size    : 11.33rem $height;
  //   $background-repeat  : no-repeat;
  //   $background-position: 4.11rem center;
  //   background          : #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
  // }

  // #act6 {
  //   $width              : 100%;
  //   $height             : 7.11rem;
  //   width               : $width;
  //   height              : $height;
  //   $background-image   :url("../../assets/images/#{$path}/pc/act6-bg.png");
  //   $background-size    : 12rem $height;
  //   $background-repeat  : no-repeat;
  //   $background-position: 3.6rem center;
  //   background          : #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
  // }

  /* footer的样式 */
  @include footer($footerClassName, $footerHeight, $footerBackgroundValue);

  .#{$footerClassName} {
    @at-root #{&}__logo {
      $width : 2.46rem;
      $height: .77rem;
      width  : $width;
      height : $height;
      $url   : url("./images/pc/bottomLogo.png");
      @include backgroundImage($url, center, $width $height, no-repeat);
    }
  }

  /* footer的样式结束 */

  /* 滚动条样式 */

  @include scrollbar(8px, 8px, 8px, rgb(125, 125, 125), rgb(11, 205, 240));

  /* 滚动条样式结束 */

}