/*------------------------------------*\
  #配置的变量
\*------------------------------------*/
// 整体页面的宽高
/* $pcWidth  :19.2rem */
$mainPcWidth :$pcWidth;
$minPcWidth  : $minWidth;
$mainPcHeight:51.79rem;
/* $mbWidth  : 7.5rem */
$mainMbWidth :$mbWidth;
$mainMbHeight:70.64rem;


/* footer 的配置 */
/* 使用为1,不使用为0 */
$footerClassName: "footer";
$footerHeight   : 1.07rem;
/* 不需要是none */
$footerBackgroundValue: rgba(255, 255, 255, 0.9);

// pc端的滚动条设置
// 滑块宽,槽宽:垂直,
$width:8px;
// 滑块高,槽高:水平,
$height:8px;
// 圆角
$radius:8px;
// 槽的颜色
$color:rgb(125, 125, 125);
// 滑块颜色
$color1: rgb(11, 205, 240);

/* 查看布局 ,使用完毕注释*/
// @include outline();