  $popupMarkBg     :#000;
  $popupMarkOpacity:0.6;
  $popupWidth      : 600px;
  $popupHeight     : 200px;
  $popupBg         : rgb(114, 110, 110);

  $popupCloseWidth :80px;
  $popupCloseHeight:80px;
  $popupCloseTop :5px;
  $popupCloseRight :5px;