/*------------------------------------*\
  #pc,其他的配置的参数
\*------------------------------------*/
@import "./variables.scss";

/*------------------------------------*\
  #pc,移动可以通用的样式
\*------------------------------------*/
.close {
  $width              : 0.64rem;
  $height             : 0.64rem;
  width               : $width;
  height              : $height;
  // margin-top       : 0.16rem;
  $background-image   : url("./images/pc/close.png");
  $background-size    : $width $height;
  $background-repeat  : no-repeat;
  $background-position: center;
  background          : #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
  position            : relative;
  // border-radius    : 50%;
  position            : absolute;
  top                 : 0.06rem;
  right               : -0.7rem;
  cursor              : pointer;
}

.red {
  color: #e42620
}

.white-bg {
  background-color: rgba(255, 255, 255, 0.32);
  border          : solid 1px #ced3df;
}

/*------------------------------------*\
  #PC端样式
\*------------------------------------*/

@include mq($pc) {
  .app {
    $width : $mainPcWidth;
    $height: $mainPcHeight;
    $url   : url("./images/pc/bg.jpg");
    @include minWidthAndHeight($width, $height, $minPcWidth);
    @include backgroundImage($url, top center, $width $height, no-repeat);
    font-family: $font-family;
    overflow   : hidden;
  }

  .container {
    position           : relative;
    box-sizing         : border-box;
    width              : 100%;
    height             : $mainPcHeight;
    padding-bottom     : $footerPcHeight;
    top                : 0;
    left               : 0;
    z-index            : 1;
    background-image   : url("./images/snow.png");
    background-position: .1rem .1rem;
    -webkit-animation  : flow 80s infinite ease-out;
    -o-animation       : flow 80s infinite ease-out;
    animation          : flow 80s infinite ease-out;
  }

  /* Header  */

  .header {
    position: relative;
    height  : 12.79rem;
    overflow: hidden;

    // @at-root #{&}__title-and-time {
    //   $width     : 12.71rem;
    //   $height    : 5.21rem;
    //   width      : $width;
    //   height     : $height;
    //   margin-left: 6.1rem;
    //   margin-top : .15rem;
    //   $url       : url("./images/pc/title.png");
    //   @include backgroundImage($url, center, $width $height, no-repeat);
    // }

    @at-root #{&}__btns-wraper {
      margin-top: 11.63rem;

      @at-root #{&}__login-btn {
        $width     : 2.93rem;
        $height    : .91rem;
        display    : block;
        width      : $width;
        height     : $height;
        margin-left: 8.08rem;
        $url       : url("./images/pc/login-control.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }
    }

    @at-root #{&}__user-info {
      position   : relative;
      margin-left: 6.6rem;
      width      : auto;
      height     : 1.06rem;
      font-family: Calibri-Light;
      font-size  : .24rem;
      line-height: 1.06rem;
      color      : $userInfoColor;
      text-align : left;

      @at-root #{&}__txt,
      #{&}__drop-btn {
        margin-left: .1rem;
        color      : $userInfoColor;
      }

      @at-root #{&}__txt {
        color      : $userInfoColor;
        font-size  : .24rem;
        line-height: .35rem;
        min-width  : 2.8rem;
        display    : inline-block;
      }

      @at-root #{&}__txt:nth-child(1) {
        min-width: 1.5rem;
      }
    }
  }

  /* End Header  */

  /* download-box */
  /* 下载的右侧悬浮窗 */

  .download-box {
    @include fixedRightBox(3.23rem, 4.57rem, 3rem, 0.06rem);
    $url: url("./images/pc/nav-bg.png");
    @include backgroundImage($url, center, 3.23rem 4.58rem, no-repeat);

    @at-root #{&}__control-btn {
      display: none;
    }

    @at-root #{&}__content {
      $width     : 100%;
      $height    : 100%;
      width      : $width;
      height     : $height;
      font-size  : .28rem;
      line-height: .32rem;
      color      : #2b0402;
      font-weight: bold;

      @at-root #{&}__btn {
        display            : inline-block;
        background-repeat  : no-repeat;
        background-position: center;
        margin-left        : .84rem;
        height             : .36rem;
        margin-top         : .12rem;
        cursor             : pointer;

        @at-root #{&}--act1 {
          margin-top: 1.21rem;
        }

        @at-root #{&}--active {
          text-decoration: underline;
          color          : #ff0000;
        }

        $downLoadBtnWidth : 1.83rem;
        $downLoadBtnHeight: .6rem;

        @at-root #{&}--android,
        #{&}--ios {
          $width     : $downLoadBtnWidth;
          $height    : $downLoadBtnHeight;
          width      : $width;
          height     : $height;
          margin-left: .72rem;
        }

        @at-root #{&}--ios {
          $width          : $downLoadBtnWidth;
          $height         : $downLoadBtnHeight;
          background-size : $width $height;
          background-image: url("./images/pc/google.png");
        }

        @at-root #{&}--android {
          $width          : $downLoadBtnWidth;
          $height         : $downLoadBtnHeight;
          background-size : $width $height;
          background-image: url("./images/pc/ios.png");
        }
      }
    }

    @at-root #{&}__scroll-top-btn {
      position  : absolute;
      bottom    : .1rem;
      left      : 1.5rem;
      $width    : .28rem;
      $height   : .22rem;
      width     : $width;
      height    : $height;
      padding   : .1rem;
      background: url("./images/pc/top.png") center/ $width $height no-repeat;
      cursor    : pointer;
    }
  }

  /* End download-box */

  /* 活动开始 */

  /* 活动一 累计登录  vip累计登录  7天登录*/
  .act1 {
    width : 100%;
    height: 6.73rem;

    @at-root #{&}__title {
      $width     : 11.35rem;
      $height    : 2.15rem;
      width      : $width;
      height     : $height;
      margin-left: 3.59rem;
      $url       : url("./images/pc/act1-title.png");
      @include backgroundImage($url, center, $width $height, no-repeat);
    }

    @at-root #{&}__desc {
      display: none;
    }

    @at-root #{&}__content {
      position  : relative;
      width     : 100%;
      height    : 4.28rem;
      margin-top: .3rem;
    }

    @at-root #{&}__gifts {
      margin     : 0;
      width      : 100%;
      $giftWidth : 3.71rem;
      $giftHeight: 3.48rem;

      @at-root #{&}__gift {
        width      : $giftWidth;
        height     : $giftHeight;
        margin-left: .34rem;
        float      : left;
        $url       : url("./images/pc/act1-gift-bg.png");
        @include backgroundImage($url, center, $giftWidth $giftHeight, no-repeat);
      }

      @at-root #{&}__gift:nth-child(1) {
        margin-left: 3.71rem;
      }

      // @at-root #{&}__gift--title {
      //   font-size  : .2rem;
      //   height     : .24rem;
      //   font-weight: bold;
      //   color      : #e42620;
      //   margin     : .45rem 0 0 .3rem;
      // }

      // @at-root #{&}__gift--title2 {
      //   margin: .45rem 0 0 .3rem;
      // }

      // @at-root #{&}__gift--title3 {
      //   margin: .45rem 0 0 .22rem;
      // }

      @at-root #{&}__gift--1 {
        $width : 3.15rem;
        $height: 1.95rem;
        width  : $width;
        height : $height;
        margin : 0.5rem 0 0 .25rem;
        $url   : url("./images/pc/act1-gift1.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }

      @at-root #{&}__gift--2 {
        $width : 3.2rem;
        $height: 1.95rem;
        width  : $width;
        height : $height;
        margin : 0.5rem 0 0 .2rem;
        $url   : url("./images/pc/act1-gift2.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }

      @at-root #{&}__gift--3 {
        $width : 2.47rem;
        $height: 2.07rem;
        width  : $width;
        height : $height;
        margin : 0.38rem 0 0 .55rem;
        $url   : url("./images/pc/act1-gift3.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }
    }

    $act1BtnWidth :1.92rem;
    $act1BtnHeight:.71rem;

    @at-root #{&}__join-btn {
      display : block;
      width   : $act1BtnWidth;
      height  : $act1BtnHeight;
      position: absolute;

      @at-root #{&}--end {
        $url: url("./images/pc/act1-joined.png");
        @include backgroundImage($url, center, $act1BtnWidth $act1BtnHeight, no-repeat);
      }

      @at-root #{&}--start {
        $url: url("./images/pc/act1-join.png");
        @include backgroundImage($url, center, $act1BtnWidth $act1BtnHeight, no-repeat);
      }
    }

    @at-root #{&}__join-btn1 {
      top : 2.59rem;
      left: 4.6rem;
    }

    @at-root #{&}__join-btn2 {
      top : 2.59rem;
      left: 8.65rem;
    }

    @at-root #{&}__join-btn3 {
      top : 2.59rem;
      left: 12.69rem;
    }
  }

  /*活动二  抽奖 */
  .act2 {
    width : 100%;
    height: 11.73rem;

    @at-root #{&}__title {
      $width     : 12.14rem;
      $height    : 3.02rem;
      width      : $width;
      height     : $height;
      margin-left: 3.39rem;
      $url       : url("./images/pc/act2-title.png");
      @include backgroundImage($url, center, $width $height, no-repeat);
    }

    @at-root #{&}__desc {
      display: none;
    }

    @at-root #{&}__content {
      position: relative;
      width   : 100%;
      height  : 8.71rem;
    }

    .lottery__every-gift {
      $width : 6.74rem;
      $height: 1.48rem;
      width  : $width;
      height : $height;
      margin : .28rem 0 0.16rem 6.18rem;
      $url   : url("./images/pc/act2-every-gift.png");
      @include backgroundImage($url, center, $width $height, no-repeat);
    }

    .lottery__every-gift-img-wrap {
      display: none;
    }

    .lottery__right,
    .lottery__left {
      float : left;
      height: 6.14rem;
    }

    .lottery__left {
      width      : 3.65rem;
      margin-left: 3.71rem;
    }

    .lottery__code {
      $width    : 3.65rem;
      $height   : 4.8rem;
      width     : $width;
      height    : $height;
      margin-top: .46rem;
      $url      : url("./images/pc/act2-left-bg.png");
      @include backgroundImage($url, center, $width $height, no-repeat);
      overflow: hidden;
    }

    .lottery__code-txt {
      box-sizing : border-box;
      text-align : center;
      margin     : 3.78rem 0 0 0;
      padding    : 0 .4rem;
      height     : .48rem;
      font-family: Calibri-Bold;
      font-size  : .4rem;
      color      : #318e3d;
    }

    .lottery__history-btn {
      $width : 3.5rem;
      $height: .81rem;
      width  : $width;
      height : $height;
      margin : .14rem 0 0 .17rem;
      $url   : url("./images/pc/act2-history-btn.png");
      @include backgroundImage($url, center, $width $height, no-repeat);
    }

    .lottery__right {
      box-sizing : border-box;
      $width     : 7.37rem;
      $height    : 6.14rem;
      width      : $width;
      height     : $height;
      margin-left: 0.6rem;
      padding    : .4rem 0 0 .26rem;
      $url       : url("./images/pc/act2-right-bg.png");
      @include backgroundImage($url, center, $width $height, no-repeat);
    }

    .lottery__gift-img-bg {
      box-sizing      : border-box;
      width           : 3.31rem;
      height          : 1.91rem;
      background-color: rgba(89, 89, 89, 0.15);
      overflow        : hidden;
    }

    .lottery__gift {
      box-sizing  : border-box;
      position    : relative;
      width       : 3.31rem;
      height      : 2.74rem;
      float       : left;
      margin-right: 0.15rem;

      .lottery__gift-img1 {
        $width : 3.1rem;
        $height: 1.72rem;
        width  : $width;
        height : $height;
        margin : .13rem 0 0 .14rem;
        $url   : url("./images/pc/act2-gift1-joined.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }

      .lottery__gift-img2 {
        $width : 3.15rem;
        $height: 1.72rem;
        width  : $width;
        height : $height;
        margin : .13rem 0 0 .14rem;
        $url   : url("./images/pc/act2-gift2-joined.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }

      .lottery__gift-img3 {
        $width : 3.04rem;
        $height: 1.75rem;
        width  : $width;
        height : $height;
        margin : .13rem 0 0 .14rem;
        $url   : url("./images/pc/act2-gift3-joined.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }

      .lottery__gift-btn {
        $width : 3.05rem;
        $height: .71rem;
        width  : $width;
        height : $height;
        margin : .1rem auto 0;
        $url   : url("./images/pc/act2-joined1.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }

      .lottery__icon {
        display: none;
      }
    }

    .lottery__gift:nth-child(2),
    .lottery__gift:nth-child(3) {
      margin-right: 0;
    }

    .lottery__gift.active {
      .lottery__gift-img-bg {
        border: solid 0.02rem #2a8b36;
      }

      .lottery__gift-img1 {
        $width : 3.1rem;
        $height: 1.72rem;
        width  : $width;
        height : $height;
        margin : .13rem 0 0 .14rem;
        $url   : url("./images/pc/act2-gift1-join.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }

      .lottery__gift-img2 {
        $width : 3.15rem;
        $height: 1.72rem;
        width  : $width;
        height : $height;
        margin : .13rem 0 0 .14rem;
        $url   : url("./images/pc/act2-gift2-join.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }

      .lottery__gift-img3 {
        $width : 3.04rem;
        $height: 1.75rem;
        width  : $width;
        height : $height;
        margin : .13rem 0 0 .14rem;
        $url   : url("./images/pc/act2-gift3-join.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }

      .lottery__gift-btn {
        $width : 3.05rem;
        $height: .71rem;
        width  : $width;
        height : $height;
        margin : .1rem auto 0;
        $url   : url("./images/pc/act2-join.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }

      .lottery__icon {
        display : block;
        position: absolute;
        top     : 0.06rem;
        left    : 0.07rem;
        $width  : .3rem;
        $height : .3rem;
        width   : $width;
        height  : $height;
        $url    : url("./images/pc/act2-gift-icon.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }
    }

    .lottery__gift.joined {
      .lottery__gift-btn {
        $width : 3.05rem;
        $height: .71rem;
        width  : $width;
        height : $height;
        margin : .1rem 0 0;
        $url   : url("./images/pc/act2-joined2.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }
    }

  }

  /* 活动三 一般转盘 */
  .act3 {
    width : 100%;
    height: 11.04rem;

    @at-root #{&}__title {
      $width     : 11.5rem;
      $height    : 2.11rem;
      width      : $width;
      height     : $height;
      margin-left: 3.62rem;
      $url       : url("./images/pc/act3-title.png");
      @include backgroundImage($url, center, $width $height, no-repeat);
    }

    @at-root #{&}__desc {
      display: none;
    }

    @at-root #{&}__content {
      position: relative;
      width   : 100%;
      height  : 8.93rem;
      overflow: hidden;
    }

    @at-root #{&}__turn-text {
      box-sizing: border-box;
      width     : 100%;
      height    : 1.16rem;
      text-align: left;
      $url      : url("./images/pc/act3-icon.png");
      @include backgroundImage($url, 6.29rem top, .8rem .99rem, no-repeat);
    }

    @at-root #{&}__nums-txt,
    #{&}__diamondNum {
      font-size  : .32rem;
      color      : #e42620;
      font-family: Calibri-Bold;
      font-weight: bold;
      line-height: .58rem;
    }

    @at-root #{&}__nums,
    #{&}__giftDiamond {
      box-sizing  : border-box;
      width       : 100%;
      height      : .58rem;
      padding-left: 7.19rem;
      font-size   : .32rem;
      color       : #3a893c;
      font-family : Calibri-Bold;
      font-weight : bold;
    }

    @at-root #{&}__giftDiamond {
      text-indent: .14rem;
    }

    @at-root #{&}__pannel {
      margin-left: 5.89rem;
      width      : 7.42rem;
      height     : 7.7rem;
      position   : relative;

      @at-root #{&}__bg {
        float   : left;
        position: relative;
        z-index : 1;
        $width  : 7.42rem;
        $height : 7.7rem;
        width   : $width;
        height  : $height;
        $url    : url("./images/pc/act3-bg.png");
        @include backgroundImage($url, center top, $width $height, no-repeat);
      }

      @at-root #{&}__start-btn {
        position: absolute;
        top     : 2.24rem;
        left    : 2.68rem;
        z-index : 1;
        $width  : 2.14rem;
        $height : 2.7rem;
        width   : $width;
        height  : $height;
        $url    : url("./images/pc/act3-start.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }
    }
  }

  .fans-info {
    box-sizing   : border-box;
    padding      : .27rem 0 0 .29rem;
    margin       : 0 auto;
    width        : 12rem;
    height       : 1.85rem;
    border-radius: .2rem;
    font-family  : Calibri;
    font-size    : .28rem;
    line-height  : .4rem;
    color        : #130504;
    background   : rgba(255, 255, 255, 0.5);
  }

  .fans-info1 {
    font-size: .36rem;
    height   : 0.4rem;
  }

  .fans-info2 {
    font-size: .28rem;
    height   : 0.4rem;
  }

  .fans__a {
    font-size  : inherit;
    line-height: inherit;
    font-family: "Calibri-Bold";
    font-size  : .3rem;
    font-weight: bold;
  }

  .fans__a-mb {
    display: none;
  }

  /* 活动结束 */

  /* footer的样式 */
  .#{$footerClassName} {
    @include footer($footerPcHeight, $footerBackgroundValue);
    z-index: 1;

    @at-root #{&}__logo {
      margin : 0.2rem auto 0;
      $width : 2.46rem;
      $height: .77rem;
      width  : $width;
      height : $height;
      $url   : url("./images/pc/footer-logo.png");
      @include backgroundImage($url, center, $width $height, no-repeat);
    }
  }

  /* footer的样式结束 */

  /* 滚动条样式 */

  @include scrollbar(8px, 8px, 8px, rgb(125, 125, 125), rgb(11, 205, 240));

  /* 滚动条样式结束 */

  /* 提示框的样式 */
  .DialogTip {
    width     : 100%;
    height    : 100%;
    position  : fixed;
    top       : 0;
    left      : 0;
    z-index   : 99;
    background: rgba(17, 31, 50, 0.5);

    .tipBox,
    .cdkBox,
    .rewardBox {
      $width   : 8.74rem;
      $height  : 3.6rem;
      width    : $width;
      height   : $height;
      position : fixed;
      top      : 50%;
      left     : 50%;
      transform: translate(-50%, -50%);
      $url     : url("./images/pc/box-bg.png");
      @include backgroundImage($url, center, $width $height, no-repeat);
      // box-shadow           : 0px 14px 0 0px #59a8bf;
      // border-bottom        : 10px solid #59a8bf;

      .tipTxt {
        width      : 80%;
        position   : absolute;
        top        : 50%;
        left       : 50%;
        transform  : translate(-50%, -50%);
        text-align : center;
        padding    : 0 .3rem;
        font-family: DokChampa;
        font-size  : .24rem;
        color      : #fff;
        line-height: .3rem
      }
    }

    .rewardContainer {
      box-sizing: border-box;
      width     : 8.08rem;
      height    : 2.88rem;
      overflow  : auto;
      margin    : 0.48rem 0.4rem 0.4rem 0.3rem;
    }

    .table-content {
      box-sizing: border-box;
      width     : 100%;
      height    : 100%;
    }

    .grid {
      width          : 100%;
      box-sizing     : border-box;
      overflow-y     : auto;
      border-collapse: collapse;

      // background-color: rgba(255, 255, 255, 0.3);
    }

    th,
    td {
      vertical-align: middle;
      text-align    : center;
      line-height   : 1.6em;
      color         : #fff;
      font-size     : .24rem;
      border        : 1px solid #fff;
    }

    th {
      color: #000;
    }

    .table-index {
      width: 3em;
    }

    .table-server {
      width: 4em;
    }

    .table-time {
      width: 7em;
    }


    /* 提示框的样式结束 */

  }
}

/*------------------------------------*\
  #移动端样式
\*------------------------------------*/

@include mq($mobile) {

  .app {
    $width : $mainMbWidth;
    $height: $mainMbHeight;
    $url   : url("./images/mb/bg.jpg");
    @include backgroundImage($url, top center, $width $height, no-repeat);
    font-family: $font-family;
    overflow   : hidden;
  }

  .container {
    position           : relative;
    box-sizing         : border-box;
    height             : $mainMbHeight;
    padding-bottom     : $footerMbHeight;
    top                : 0;
    left               : 0;
    z-index            : 1;
    background-image   : url("./images/snow.png");
    background-position: .1rem .1rem;
    -webkit-animation  : flow 80s infinite ease-out;
    -o-animation       : flow 80s infinite ease-out;
    animation          : flow 80s infinite ease-out;
  }

  /* Header  */

  .header {
    position: relative;
    height  : 13.39rem;
    overflow: hidden;

    // @at-root #{&}__title-and-time {
    //   $width    : 7.5rem;
    //   $height   : 4.17rem;
    //   width     : $width;
    //   height    : $height;
    //   margin-top: 1.03rem;
    //   $url      : url("./images/mb/title.png");
    //   @include backgroundImage($url, center, $width $height, no-repeat);
    // }

    @at-root #{&}__btns-wraper {
      margin-top: 12.1rem;

      @at-root #{&}__login-btn {
        $width     : 2.76rem;
        $height    : .74rem;
        display    : block;
        width      : $width;
        height     : $height;
        margin-left: 2.35rem;
        $url       : url("./images/mb/login-control.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }
    }

    @at-root #{&}__user-info {
      position   : relative;
      margin-left: .8rem;
      top        : -0.1rem;
      width      : auto;
      height     : 1.06rem;
      font-family: Calibri-Light;
      font-size  : .24rem;
      line-height: 1.06rem;
      color      : $userInfoColor;
      text-align : left;

      @at-root #{&}__txt,
      #{&}__drop-btn {
        margin-left: .1rem;
        color      : #fb5c6d;
      }

      // @at-root #{&}__drop-btn {
      // position: absolute;
      // top     : .8rem;
      // left    : 1.8rem;
      // }

      @at-root #{&}__txt {
        color      : #fb5c6d;
        font-size  : .24rem;
        line-height: .35rem;
        min-width  : 2.8rem;
        display    : inline-block;
      }

      @at-root #{&}__txt:nth-child(1) {
        min-width: 1.2rem;
      }

      @at-root #{&}__txt:nth-child(2) {
        text-align: center;
      }
    }
  }

  //download-box 
  //下载的右侧悬浮窗 

  /* download-box */
  /* 下载的右侧悬浮窗 */
  .download-box {
    @include fixedRightBox(3.23rem, 4.57rem, 3rem, 0.06rem);
    $url: url("./images/pc/nav-bg.png");
    @include backgroundImage($url, center, 3.23rem 4.58rem, no-repeat);

    @at-root #{&}__control-btn {
      position: absolute;
      top     : 2rem;
      left    : -0.1rem;
      $width  : .34rem;
      $height : .94rem;
      width   : $width;
      height  : $height;
      $url    : url("./images/mb/nav-toggle.png");
      @include backgroundImage($url, center, $width $height, no-repeat);
      cursor: pointer;

      @at-root #{&}--hide {
        transform: rotateZ(0);
      }

      @at-root #{&}--show {
        transform: rotateZ(180deg);
      }
    }

    @at-root #{&}__content {
      $width     : 100%;
      $height    : 100%;
      width      : $width;
      height     : $height;
      font-size  : .28rem;
      line-height: .32rem;
      color      : #2b0402;
      font-weight: bold;

      @at-root #{&}__btn {
        display            : inline-block;
        background-repeat  : no-repeat;
        background-position: center;
        margin-left        : .84rem;
        height             : .36rem;
        margin-top         : .12rem;
        cursor             : pointer;

        @at-root #{&}--act1 {
          margin-top: 1.21rem;
        }

        @at-root #{&}--active {
          text-decoration: underline;
          color          : #ff0000;
        }

        $downLoadBtnWidth : 1.83rem;
        $downLoadBtnHeight: .6rem;

        @at-root #{&}--android,
        #{&}--ios {
          $width     : $downLoadBtnWidth;
          $height    : $downLoadBtnHeight;
          width      : $width;
          height     : $height;
          margin-left: .72rem;
        }

        @at-root #{&}--ios {
          $width          : $downLoadBtnWidth;
          $height         : $downLoadBtnHeight;
          background-size : $width $height;
          background-image: url("./images/pc/google.png");
        }

        @at-root #{&}--android {
          $width          : $downLoadBtnWidth;
          $height         : $downLoadBtnHeight;
          background-size : $width $height;
          background-image: url("./images/pc/ios.png");
        }
      }
    }

    @at-root #{&}__scroll-top-btn {
      position  : absolute;
      bottom    : .1rem;
      left      : 1.5rem;
      $width    : .28rem;
      $height   : .22rem;
      width     : $width;
      height    : $height;
      padding   : .1rem;
      background: url("./images/pc/top.png") center/ $width $height no-repeat;
      cursor    : pointer;
    }
  }

  /*   .download-box {
    @include fixedRightBox(3.23rem, 4.57rem, 2rem, 0);
    $url: url("./images/mb/nav-bg.png");
    @include backgroundImage($url, center, 3.23rem rem, no-repeat);

    @at-root #{&}__control-btn {
      position: absolute;
      top     : 1.4rem;
      left    : -0.1rem;
      $width  : .34rem;
      $height : .94rem;
      width   : $width;
      height  : $height;
      $url    : url("./images/mb/nav-toggle.png");
      @include backgroundImage($url, center, $width $height, no-repeat);
      cursor: pointer;

      @at-root #{&}--hide {
        transform: rotateZ(0);
      }

      @at-root #{&}--show {
        transform: rotateZ(180deg);
      }
    }

    @at-root #{&}__content {
      $width     : 100%;
      $height    : 100%;
      width      : $width;
      height     : $height;
      font-family: Calibri-Bold;
      font-size  : .24rem;
      color      : #2b0402;
      font-weight: bold;

      @at-root #{&}__btn {
        display            : inline-block;
        background-repeat  : no-repeat;
        background-position: center;
        margin-left        : .79rem;
        height             : .32rem;
        margin-top         : .04rem;

        @at-root #{&}--act1 {
          margin-top: .86rem;
        }

        @at-root #{&}--active {
          text-decoration: underline;
          color          : #ff0000;
        }

        @at-root #{&}--android,
        #{&}--ios {
          $width     : 1.4rem;
          $height    : .45rem;
          width      : $width;
          height     : $height;
          margin-left: .54rem;
        }

        @at-root #{&}--ios {
          $width          : 1.4rem;
          $height         : .45rem;
          margin-top      : .06rem;
          background-size : $width $height;
          background-image: url("./images/pc/google.png");
        }

        @at-root #{&}--android {
          $width          : 1.4rem;
          $height         : .45rem;
          margin-top      : .06rem;
          background-size : $width $height;
          background-image: url("./images/pc/ios.png");
        }
      }
    }

    @at-root #{&}__scroll-top-btn {
      // display            : none;
      position              : absolute;
      bottom                : .2rem;
      left                  : 1.1rem;
      $width                : .33rem;
      $height               : .24rem;
      width                 : $width;
      height                : $height;
      background-size       : $width $height;
      background-image      : url("./images/pc/top.png");
      cursor                : pointer;
    }
  } */

  /* End download-box */

  /* 活动开始 */

  /* 活动一 累计登录  vip累计登录  7天登录*/
  .act1 {
    width : 100%;
    height: 9.35rem;

    @at-root #{&}__title {
      $width     : 6.21rem;
      $height    : 2.27rem;
      width      : $width;
      height     : $height;
      margin-left: .67rem;
      $url       : url("./images/mb/act1-title.png");
      @include backgroundImage($url, center, $width $height, no-repeat);
    }

    @at-root #{&}__desc {
      display: none;
    }

    @at-root #{&}__content {
      position  : relative;
      width     : 100%;
      height    : 6.86rem;
      margin-top: .22rem;
    }

    @at-root #{&}__gifts {
      margin     : 0;
      width      : 100%;
      $giftWidth : 3.22rem;
      $giftHeight: 3rem;

      @at-root #{&}__gift {
        width      : $giftWidth;
        height     : $giftHeight;
        margin-left: .4rem;
        float      : left;
        $url       : url("./images/mb/act1-gift-bg.png");
        @include backgroundImage($url, center, $giftWidth $giftHeight, no-repeat);
      }

      @at-root #{&}__gift:nth-child(2) {
        margin-left: .28rem;
      }

      @at-root #{&}__gift:nth-child(3) {
        margin-left: 2.14rem;
        margin-top : .27rem;
      }

      @at-root #{&}__gift--1 {
        $width : 2.73rem;
        $height: 1.69rem;
        width  : $width;
        height : $height;
        margin : 0.42rem 0 0 .22rem;
        $url   : url("./images/mb/act1-gift1.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }

      @at-root #{&}__gift--2 {
        $width : 2.77rem;
        $height: 1.69rem;
        width  : $width;
        height : $height;
        margin : 0.42rem 0 0 .18rem;
        $url   : url("./images/pc/act1-gift2.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }

      @at-root #{&}__gift--3 {
        $width : 2.13rem;
        $height: 1.8rem;
        width  : $width;
        height : $height;
        margin : 0.31rem 0 0 .49rem;
        $url   : url("./images/pc/act1-gift3.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }
    }

    $act1BtnWidth :1.68rem;
    $act1BtnHeight:.64rem;

    @at-root #{&}__join-btn {
      display : block;
      width   : $act1BtnWidth;
      height  : $act1BtnHeight;
      position: absolute;

      @at-root #{&}--end {
        $url: url("./images/mb/act1-joined.png");
        @include backgroundImage($url, center, $act1BtnWidth $act1BtnHeight, no-repeat);
      }

      @at-root #{&}--start {
        $url: url("./images/mb/act1-join.png");
        @include backgroundImage($url, center, $act1BtnWidth $act1BtnHeight, no-repeat);
      }
    }

    @at-root #{&}__join-btn1 {
      top : 2.22rem;
      left: 1.17rem;
    }

    @at-root #{&}__join-btn2 {
      top : 2.22rem;
      left: 4.67rem;
    }

    @at-root #{&}__join-btn3 {
      top : 5.49rem;
      left: 2.9rem;
    }
  }

  /*活动二  抽奖 */
  .act2 {
    width : 100%;
    height: 20.62rem;

    @at-root #{&}__title {
      $width     : 6.36rem;
      $height    : 5.11rem;
      width      : $width;
      height     : $height;
      margin-left: .58rem;
      $url       : url("./images/mb/act2-title.png");
      @include backgroundImage($url, center, $width $height, no-repeat);
    }

    @at-root #{&}__desc {
      display: none;
    }

    @at-root #{&}__content {
      position: relative;
      width   : 100%;
      height  : 15.51rem;
    }

    .lottery__every-gift {
      $width : 6.39rem;
      $height: 1.48rem;
      width  : $width;
      height : $height;
      margin : .33rem 0 0 .56rem;
      $url   : url("./images/mb/act2-every-gift.png");
      @include backgroundImage($url, center, $width $height, no-repeat);
    }

    .lottery__every-gift-img-wrap {
      display: none;
    }

    .lottery {
      position  : relative;
      width     : 100%;
      height    : 13.31rem;
      margin-top: .39rem;
    }

    .lottery__left {
      width   : 4.34rem;
      position: absolute;
      top     : 6.15rem;
      left    : 1.55rem;
    }

    .lottery__code {
      $width : 4.34rem;
      $height: 5.7rem;
      width  : $width;
      height : $height;
      $url   : url("./images/mb/act2-left-bg.png");
      @include backgroundImage($url, center, $width $height, no-repeat);
      overflow: hidden;
    }

    .lottery__code-txt {
      box-sizing : border-box;
      text-align : center;
      margin     : 4.48rem 0 0 0;
      padding    : 0 .4rem;
      height     : .48rem;
      font-family: Calibri-Bold;
      font-size  : .4rem;
      color      : #318e3d;
    }

    .lottery__history-btn {
      $width : 3.5rem;
      $height: .81rem;
      width  : $width;
      height : $height;
      margin : .18rem 0 0 .47rem;
      $url   : url("./images/mb/act2-history-btn.png");
      @include backgroundImage($url, center, $width $height, no-repeat);
    }

    .lottery__right {
      box-sizing : border-box;
      $width     : 6.95rem;
      $height    : 5.73rem;
      width      : $width;
      height     : $height;
      margin-left: 0.32rem;
      padding    : .36rem 0 0 .24rem;
      $url       : url("./images/mb/act2-right-bg.png");
      @include backgroundImage($url, center, $width $height, no-repeat);
    }

    .lottery__gift-img-bg {
      box-sizing      : border-box;
      width           : 3.13rem;
      height          : 1.79rem;
      background-color: rgba(89, 89, 89, 0.15);
      overflow        : hidden;
    }

    .lottery__gift {
      box-sizing  : border-box;
      position    : relative;
      width       : 3.13rem;
      height      : 2.58rem;
      float       : left;
      margin-right: 0.13rem;

      .lottery__gift-img1 {
        $width : 2.93rem;
        $height: 1.6rem;
        width  : $width;
        height : $height;
        margin : .13rem 0 0 .13rem;
        $url   : url("./images/mb/act2-gift1-joined.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }

      .lottery__gift-img2 {
        $width : 2.97rem;
        $height: 1.6rem;
        width  : $width;
        height : $height;
        margin : .13rem 0 0 .14rem;
        $url   : url("./images/mb/act2-gift2-joined.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }

      .lottery__gift-img3 {
        $width : 2.87rem;
        $height: 1.64rem;
        width  : $width;
        height : $height;
        margin : .12rem 0 0 .13rem;
        $url   : url("./images/mb/act2-gift3-joined.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }

      .lottery__gift-btn {
        $width : 2.89rem;
        $height: .68rem;
        width  : $width;
        height : $height;
        margin : .1rem auto 0;
        $url   : url("./images/mb/act2-joined1.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }

      .lottery__icon {
        display: none;
      }
    }

    .lottery__gift:nth-child(2),
    .lottery__gift:nth-child(3) {
      margin-right: 0;
    }

    .lottery__gift.active {
      .lottery__gift-img-bg {
        border: solid 0.02rem #2a8b36;
      }

      .lottery__gift-img1 {
        $width : 2.93rem;
        $height: 1.6rem;
        width  : $width;
        height : $height;
        margin : .13rem 0 0 .13rem;
        $url   : url("./images/mb/act2-gift1-join.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }

      .lottery__gift-img2 {
        $width : 2.97rem;
        $height: 1.6rem;
        width  : $width;
        height : $height;
        margin : .13rem 0 0 .14rem;
        $url   : url("./images/mb/act2-gift2-join.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }

      .lottery__gift-img3 {
        $width : 2.87rem;
        $height: 1.64rem;
        width  : $width;
        height : $height;
        margin : .12rem 0 0 .13rem;
        $url   : url("./images/mb/act2-gift3-join.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }

      .lottery__gift-btn {
        $width : 2.89rem;
        $height: .68rem;
        width  : $width;
        height : $height;
        margin : .1rem auto 0;
        $url   : url("./images/mb/act2-join.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }

      .lottery__icon {
        display : block;
        position: absolute;
        top     : 0.06rem;
        left    : 0.07rem;
        $width  : .29rem;
        $height : .28rem;
        width   : $width;
        height  : $height;
        $url    : url("./images/mb/act2-gift-icon.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }
    }

    .lottery__gift.joined {
      .lottery__gift-btn {
        $width : 2.89rem;
        $height: .68rem;
        width  : $width;
        height : $height;
        margin : .1rem auto 0;
        $url   : url("./images/mb/act2-joined2.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }
    }

  }

  /* 活动三 一般转盘 */
  .act3 {
    width : 100%;
    height: 11.7rem;

    @at-root #{&}__title {
      $width     : 6.22rem;
      $height    : 2.71rem;
      width      : $width;
      height     : $height;
      margin-left: .64rem;
      $url       : url("./images/mb/act3-title.png");
      @include backgroundImage($url, center, $width $height, no-repeat);
    }

    @at-root #{&}__desc {
      display: none;
    }

    @at-root #{&}__content {
      position: relative;
      width   : 100%;
      height  : 8.99rem;
      overflow: hidden;
    }

    @at-root #{&}__turn-text {
      box-sizing: border-box;
      width     : 100%;
      height    : 1.71rem;
      text-align: left;
      $url      : url("./images/mb/act3-icon.png");
      @include backgroundImage($url, .9rem .29rem, .8rem .99rem, no-repeat);
      overflow: hidden;
    }

    @at-root #{&}__nums-txt,
    #{&}__diamondNum {
      font-size  : .32rem;
      color      : #e42620;
      font-family: Calibri-Bold;
      font-weight: bold;
      line-height: .58rem;
    }

    @at-root #{&}__nums,
    #{&}__giftDiamond {
      box-sizing  : border-box;
      width       : 100%;
      height      : .5rem;
      line-height : .5rem;
      padding-left: 1.8rem;
      font-size   : .32rem;
      color       : #3a893c;
      font-family : Calibri-Bold;
      font-weight : bold;
      overflow    : hidden;
    }

    @at-root #{&}__nums {
      margin-top: .3rem;
    }

    @at-root #{&}__giftDiamond {
      text-indent: .14rem;
    }

    @at-root #{&}__pannel {
      position   : relative;
      margin-left: .45rem;
      width      : 6.69rem;
      height     : 6.92rem;

      @at-root #{&}__bg {
        float   : left;
        position: relative;
        z-index : 1;
        $width  : 6.69rem;
        $height : 6.92rem;
        width   : $width;
        height  : $height;
        $url    : url("./images/mb/act3-bg.png");
        @include backgroundImage($url, center top, $width $height, no-repeat);
      }

      @at-root #{&}__start-btn {
        position: absolute;
        top     : 2.01rem;
        left    : 2.39rem;
        z-index : 1;
        $width  : 1.93rem;
        $height : 2.44rem;
        width   : $width;
        height  : $height;
        $url    : url("./images/mb/act3-start.png");
        @include backgroundImage($url, center, $width $height, no-repeat);
      }
    }
  }

  .fans-info {
    box-sizing : border-box;
    padding    : .2rem;
    width      : 6.43rem;
    height     : 2.52rem;
    background : rgba(255, 255, 255, 0.5);
    margin     : 0 auto;
    font-family: Calibri;
    font-size  : .28rem;
    line-height: .4rem;
    color      : #130504;
  }

  .fans-info1 {
    font-size  : .36rem;
    height     : 0.4rem;
    font-weight: bold;
  }

  .fans-info2 {
    font-size  : .28rem;
    line-height: 0.4rem;
  }

  .fans__a {
    font-size  : inherit;
    line-height: inherit;
    font-family: "Calibri-Bold";
    font-size  : .28rem;
    font-weight: bold;
  }

  /* 活动结束 */

  /* footer的样式 */
  .#{$footerClassName} {
    @include footer($footerMbHeight, $footerBackgroundValue);
    z-index: 1;

    @at-root #{&}__logo {
      margin    : 0.06rem auto 0;
      $width    : 2.74rem;
      $height   : .86rem;
      margin-top: .18rem;
      width     : $width;
      height    : $height;
      $url      : url("./images/mb/footer-logo.png");
      @include backgroundImage($url, center, $width $height, no-repeat);
    }
  }

  /* footer的样式结束 */

  /* 滚动条样式 */

  // @include scrollbar(8px, 8px, 8px, rgb(125, 125, 125), rgb(11, 205, 240));

  /* 滚动条样式结束 */

  /* 提示框的样式 */
  .DialogTip {
    width     : 100%;
    height    : 100%;
    position  : fixed;
    top       : 0;
    left      : 0;
    z-index   : 99;
    background: rgba(17, 31, 50, 0.5);

    .tipBox,
    .cdkBox,
    .rewardBox {
      $width          : 6.14rem;
      $height         : 4.78rem;
      width           : $width;
      height          : $height;
      position        : fixed;
      top             : 50%;
      left            : 50%;
      transform       : translate(-53%, -50%);
      // border-radius: 20px;
      $url            : url("./images/mb/box1.png");
      @include backgroundImage($url, center, $width $height, no-repeat);
      // box-shadow           : 0px 14px 0 0px #59a8bf;
      // border-bottom        : 10px solid #59a8bf;

      .tipTxt {
        width      : 80%;
        position   : absolute;
        top        : 50%;
        left       : 50%;
        transform  : translate(-50%, -50%);
        text-align : center;
        padding    : 0 .3rem;
        font-family: DokChampa;
        font-size  : .24rem;
        color      : #fff;
        line-height: .3rem;
      }
    }

    .rewardContainer {
      box-sizing: border-box;
      width     : 5.64rem;
      height    : 3.85rem;
      overflow-y: auto;
      margin    : 0.48rem 0.3rem 0.3rem 0.2rem;
    }

    .table-content {
      box-sizing: border-box;
      width     : 100%;
      height    : 100%;
    }

    .grid {
      box-sizing         : border-box;
      width              : 5.62rem;
      height             : 100%;
      border-collapse    : collapse;
      // background-color: rgba(255, 255, 255, 0.5);
    }

    th,
    td {
      vertical-align: middle;
      text-align    : center;
      line-height   : 1.98em;
      color         : #fff;
      font-size     : .24rem;
      border        : 1px solid #fff;
    }

    th {
      color      : #000;
      line-height: 1.2em;
    }

    .table-index {
      width: 0.2rem;
    }

    .table-server {
      width: 0.3rem;
    }

    .table-player {
      width: 4rem;
      ;
    }

    .table-time {
      width: 1rem;
    }


    /* 提示框的样式结束 */

  }

  /* 提示框的样式结束 */
}

/*下雪的动画 */
@keyframes flow {
  100% {
    background-position-y: 100%;
    background-position-x: 7.5rem;
  }
}

@-webkit-keyframes flow {
  100% {
    background-position-y: 100%;
    background-position-x: 7.5rem;
  }
}

@-o-keyframes flow {
  100% {
    background-position-y: 100%;
    background-position-x: 7.5rem;
  }
}

@-o-keyframes flow {
  100% {
    background-position-y: 100%;
    background-position-x: 7.5rem;
  }
}