/*------------------------------------*\
  #配置的变量
\*------------------------------------*/
// 整体页面的宽高
/* $pcWidth  :19.2rem */
$mainPcWidth :$pcWidth;
$minPcWidth  : $minWidth;
$mainPcHeight:45.4rem;
/* $mbWidth  : 7.5rem */
$mainMbWidth :$mbWidth;
$mainMbHeight:59rem;

$userInfoColor:#fb5c6d;

/* footer 的配置 */
/* 使用为1,不使用为0 */
$footerClassName: "footer";
$footerPcHeight : 3.1rem;
$footerMbHeight : 3.9rem;
/* 不需要是none */
$footerBackgroundValue: none;
$font-family          : Calibri,sans-serif;

/* 查看布局 ,使用完毕注释*/
// @include outline();