@include mq($pc) {

  /* 最高层的锚定元素 */
  #app {
    width: $mainPcWidth;
    height: $mainPcHeight;
    min-width: $minPcWidth;
    min-height: $minPcHeight;
    $background-image:url("../../assets/images/#{$path}/pc/bg.jpg");
    $background-size: $mainPcWidth $mainPcHeight;
    $background-repeat: no-repeat;
    $background-position: top center;
    background: #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
    overflow: hidden;
  }

  /* 内容的容器包裹除footer之外的一切元素 */
  .app_container {
    position: relative;
    width: 100%;
    height: 100%;
  }

  /* 头部 */
  #header {
    width: 100%;
    height: 7.9rem;
    position: relative;
  }

  /* 活动时间 */
  .header_actTime {
    margin-left: 6.1rem;
    margin-top: .15rem;
    $width: 12.71rem;
    $height: 5.21rem;
    width: $width;
    height: $height;
    $background-image:url("../../assets/images/#{$path}/pc/title.png");
    $background-size: $width $height;
    $background-repeat: no-repeat;
    $background-position: center;
    background: #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
  }

  /* 登录按钮的盒子 */
  .header_btnBox {
    width: 100%;
    margin-top: -.74rem;
  }

  /* 登录按钮 */
  .header_btnBox_loginBtn {
    $width: 3.18rem;
    $height: 1.37rem;
    width: $width;
    height: $height;
    margin-left: 10.7rem;
    $background-image:url("../../assets/images/#{$path}/pc/login-control.png");
    $background-size: $width $height;
    $background-repeat: no-repeat;
    $background-position: center;
    background: #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};

  }

  /* 用户信息 */
  .userInfo {
    position: relative;
    margin-top: .6rem;
    margin-left: 10.5rem;
    width: 100%;
    height: .7rem;
    font-family: "FZPHFW--GB1-0";
    font-size: .24rem;
    line-height: .7rem;
    color: #5d3a9b;
    text-align: left;
  }

  /* 注销按钮 */
  .userInfo_span,
  .userInfo_dropBtn {
    margin-left: .1rem;
    color: #5d3a9b;
  }

  /* 用户区服等信息 */
  /*   .userInfo_span {

    color: #fb5c6d;
    font-size: 25px;
    line-height: 35px;
    min-width: 300px;
    display: inline-block;
  } */

  /*  .userInfo_span:nth-child(1) {
    min-width: 150px;
  } */


  /* 下载的右侧悬浮窗 */
  .navBox {
    width: 2.42rem;
    height: 2.66rem;
    position: fixed;
    top: 1.5rem;
    right: 0;
    z-index: $z-index2
  }

  /* 下载的右侧悬浮窗控制按钮 */
  .navBox_controlBtn {
    $width: .4rem;
    $height: .64rem;
    width: $width;
    height: $height;
    $background-image:url("../../assets/images/#{$path}/pc/nav-btn.png");
    $background-size: $width $height;
    $background-repeat: no-repeat;
    $background-position: center;
    background: #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
    position: absolute;
    top: 0.89rem;
    left: -0.52rem;
    cursor: pointer;
  }

  .navBox_controlBtn1 {
    transform: rotateZ(0)
  }

  .navBox_controlBtn1 {
    transform: rotateZ(180deg)
  }

  /* 下载的右侧悬浮窗内容盒子 */
  .navBox_content {
    $width: 2.42rem;
    $height: 2.66rem;
    width: $width;
    height: $height;
    $background-image:url("../../assets/images/#{$path}/pc/nav-bg.png");
    $background-size: $width $height;
    $background-repeat: no-repeat;
    $background-position: center;
    background: #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
  }

  /* 下载按钮 */
  .iosDownBtn,
  .googleDownBtn,
  .facebookDownBtn {
    display: inline-block;
    $width: 1.98rem;
    $height: .57rem;
    width: $width;
    height: $height;
    margin-left: .22rem;
    margin-top: .13rem;
    background-size: $width $height;
    background-repeat: no-repeat;
    background-position: center;
  }

  .iosDownBtn {
    margin-top: .33rem;
    background-image: url("../../assets/images/#{$path}/pc/ios.png");
  }

  .googleDownBtn {
    background-image:url("../../assets/images/#{$path}/pc/google.png");
  }

  .facebookDownBtn {
    background-image: url("../../assets/images/#{$path}/pc/fans.png");
    margin-bottom: 0;
  }

  /* footer中的logo */
  .app_footer {
    background: rgba(255, 255, 255, .9);
  }

  .bottomLogo {
    $width: 2.46rem;
    $height: .77rem;
    width: $width;
    height: $height;
    $background-image:url("../../assets/images/#{$path}/pc/bottomLogo.png");
    $background-size: $width $height;
    $background-repeat: no-repeat;
    $background-position: center;
    background: #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
  }

  // 改变滚动条样式
  ::-webkit-scrollbar {
    width: 6px;
    height: 12px;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: rgba(125, 125, 125, 1);
    -webkit-border-radius: 6px;
    border-radius: 6px;
  }

  /* 水平 */
  ::-webkit-scrollbar-thumb:vertical {
    height: 6px;
    background-color: rgb(11, 205, 240);
    -webkit-border-radius: 6px;
    border-radius: 6px;

  }

  /* 垂直 */
  ::-webkit-scrollbar-thumb:horizontal {
    width: 8px;
    background-color: rgba(0, 0, 0, 0.6);
    -webkit-border-radius: 6px;
    border-radius: 6px;

  }

  #act3 {
    $width: 100%;
    $height: 7.43rem;
    width: $width;
    height: $height;
    $background-image:url("../../assets/images/#{$path}/pc/act3-bg.png");
    $background-size: 14.73rem $height;
    $background-repeat: no-repeat;
    $background-position: 2.34rem 0;
    background: #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
  }

  #act4 {
    $width: 100%;
    $height: 3.47rem;
    width: $width;
    height: $height;
    margin-top: .2rem;
    $background-image:url("../../assets/images/#{$path}/pc/act4-bg.png");
    $background-size: 11.33rem $height;
    $background-repeat: no-repeat;
    $background-position: 4.11rem center;
    background: #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
  }

  #act6 {
    $width: 100%;
    $height: 7.11rem;
    width: $width;
    height: $height;
    $background-image:url("../../assets/images/#{$path}/pc/act6-bg.png");
    $background-size: 12rem $height;
    $background-repeat: no-repeat;
    $background-position: 3.6rem center;
    background: #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
  }
}