/* 初始化样式,暂时没有使用,现在用 normallize */
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

fieldset,
img {
  border: 0
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
  font-weight: normal
}

ol,
ul {
  list-style: none
}

caption,
th {
  text-align: left
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal
}

q:before,
q:after {
  content: ''
}

abbr,
acronym {
  border: 0;
  font-variant: normal
}

sup {
  vertical-align: text-top
}

sub {
  vertical-align: text-bottom
}

input,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit
}

input,
textarea,
select {
  *font-size: 100%
}

// input提示字体颜色
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #8e8e8e;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #8e8e8e;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #8e8e8e;
}

:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #8e8e8e;
}

// 改变滚动条样式
// ::-webkit-scrollbar {
//     width: 5px;
//     height: 5px;
//   }

// ::-webkit-scrollbar-track-piece {
//   background-color: rgba(0, 0, 0, 0.2);
//   -webkit-border-radius: 6px;
//   border-radius: 6px;
// }

// ::-webkit-scrollbar-thumb:vertical {
//   height: 5px;
//   background-color: rgba(125, 125, 125, 0.7);
//   -webkit-border-radius: 6px;
//   border-radius: 6px;

// }

// ::-webkit-scrollbar-thumb:horizontal {
//   width: 5px;
//   background-color: rgba(125, 125, 125, 0.7);
//   -webkit-border-radius: 6px;
//   border-radius: 6px;

// }
/*去除input数字输入框默认样式*************************************************************************/
input[type=number] {
  -moz-appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* input占位符颜色*/ 
::-moz-placeholder { color: #369; }
::-webkit-input-placeholder { color:#369; }
:-ms-input-placeholder { color:#369; }
/*整体布局样式 */
* {
  font-family: "Calibri", "Microsoft YaHei", "DokChampa" ! important;
  
}

/**************************************************************************/
button,
input {
  background: none;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0)
}

button:hover {
  cursor: pointer;
}

button:active {
  position: relative;
  top: 2px;
}