@include mq($mobile) {
  #act2 {
    height: 13.33rem;
    font-family: "CTHeiTiSF";
    position: relative;
    overflow: hidden;
  }

  .act2_title {
    $width: 7.23rem;
    $height: 2.72rem;
    width: $width;
    height: $height;
    margin-left: .1rem;
    $background-image: url("../../../assets/images/#{$path}/mb/act2-title.png");
    $background-size: $width $height;
    $background-repeat: no-repeat;
    $background-position: center;
    background: #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
  }

  // .act_person1 {
  //   $width: 5.01rem;
  //   $height: 6.67rem;
  //   width: $width;
  //   height: $height;
  //   position: absolute;
  //   top: .47rem;
  //   right: .7rem;
  //   z-index: 1;
  //   $background-image:url("../../../assets/images/#{$path}/pc/act2-person1.png");
  //   $background-size: $width $height;
  //   $background-repeat: no-repeat;
  //   $background-position: center;
  //   background: #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
  // }

  .act2_content {
    position: relative;
    z-index: 1;
    width: 7.5rem;
    height: 9.04rem;
  }

  .act2_content_cardInfo {
    position: relative;
    width: 7.28rem;
    height: .93rem;
    margin-top: .28rem;
    margin-left: .11rem;
  }

  .act2_content_giftsBtn {
    $width: 1.88rem;
    $height: .46rem;
    width: $width;
    height: $height;
    $background-image:url("../../../assets/images/#{$path}/pc/act2-all-btn.png");
    $background-size: $width $height;
    $background-repeat: no-repeat;
    $background-position: center;
    background: #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
    position: absolute;
    top: .23rem;
    right: .11rem;
  }

  .act2_content_giftsBtn:active {
    position: absolute;
    top: .25rem;
  }

  .act2_content_cardCount {
    $width: 4rem;
    $height: .93rem;
    width: $width;
    height: $height;
  }

  .act2_content_cardCount_current_txt,
  .act2_content_cardCount_next_txt {
    display: block;
    color: #fe0f31;
    font-size: .26rem;
    text-align: left;
    line-height: .5rem;
    height: .46rem;
  }

  .act2_content_cardCount_current_txt {
    padding-left: 2.46rem;
  }

  .act2_content_cardCount_next_txt {
    padding-left: 2.9rem;
  }

  .act2_content_shareBtn {
    $width: .54rem;
    $height: .54rem;
    width: $width;
    height: $height;
    $background-image:url("../../../assets/images/#{$path}/pc/fb-share-btn.png");
    $background-size: $width $height;
    $background-repeat: no-repeat;
    $background-position: center;
    background: #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
    position: absolute;
    top: .2rem;
    left: 4.5rem;
  }

  .act2_content_gifts {
    $width: 7.22rem;
    $height: 2.96rem;
    width: $width;
    height: $height;
    position: absolute;
    top: .9rem;
    z-index: $z-index3;
    background-color: #f6f7f8;
    border: solid 0.03rem #445dcb;
    font-size: .24rem;
    letter-spacing: 1px;
    color: #016bc9;
    font-family: "HeitiCSEG-Medium-T-GB";
  }

  .gifts_closBtn {
    $width: .3rem;
    $height: .3rem;
    width: $width;
    height: $height;
    position: absolute;
    top: .04rem;
    right: .04rem;
    $background-image: url("../../../assets/images/#{$path}/pc/close.png");
    $background-size: $width $height;
    $background-repeat: no-repeat;
    $background-position: center;
    background: #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
  }

  .gifts_title {
    font-size: .24rem;
    margin-top: .18rem;
    margin-left: .26rem;
    font-weight: 700;
  }

  .gifts_closBtn:active {
    position: absolute;
    top: .11rem;
  }

  .gifts_content {
    width: 6.64rem;
    height: 1.46rem;
    margin-top: .3rem;
    margin-left: .26rem;
    padding: 0;
  }

  .gifts_item {
    width: .6rem;
    height: .6rem;
    background-color: #7fc0f2;
    border: solid .03rem #445dcb;
    float: left;
    margin-right: .19rem;
    margin-bottom: .12rem;
  }

  .gifts_item:nth-child(8n) {
    margin-right: 0;
  }

  .gifts_item:nth-child(n+9) {
    margin-bottom: 0;
  }

  .gifts_item_gift_PS {
    font-size: .18rem;
    margin-left: .26rem;
  }


  .act2_allCards {
    $width: 7.28rem;
    $height: 7.66rem;
    width: $width;
    height: $height;
    margin-top: 0.44rem;
    margin-left: .11rem;
    position: relative;
    // $background-image: url("../../../assets/images/#{$path}/pc/act2-gifts-bg.png");
    // $background-size: $width $height;
    // $background-repeat: no-repeat;
    // $background-position: center;
    // background: #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
  }

  .act2_allCards_ul {
    padding-left: .55rem;
    padding-top: .1rem
  }

  $act2_li_width: 1.33rem;
  $act2_li_wheight: 1.75rem;

  .act2_allCards_ul_li {
    position: relative;
    width: $act2_li_width;
    height: $act2_li_wheight;
    float: left;
    margin-right: .3rem;
    margin-top: .1rem;
    perspective: 1000;
  }

  // .act2_allCards_ul_li:first-child,
  // .act2_allCards_ul_li:nth-child(9) {
  //   margin-left: .1rem;
  // }

  .act2_allCards_li_cardBox {
    $width: $act2_li_width;
    $height: $act2_li_wheight;
    width: $width;
    height: $height;
    transform-style: preserve-3d;
  }

  .act2_allCards_li_card {
    $width: $act2_li_width;
    $height: $act2_li_wheight;
    width: $width;
    height: $height;
    display: block;
  }

  .act2_allCards_li_card_bg {
    $width: $act2_li_width;
    $height: $act2_li_wheight;
    $background-image: url("../../../assets/images/#{$path}/pc/act2-giftBg.png");
    $background-size: $width $height;
    $background-repeat: no-repeat;
    $background-position: center;
    background: #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
  }

  .act2_gift0 {
    $width: $act2_li_width;
    $height: $act2_li_wheight;
    $background-image: url("../../../assets/images/#{$path}/pc/act2-gift.png");
    $background-size: $width $height;
    $background-repeat: no-repeat;
    $background-position: center;
    background: #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
  }

  @for $i from 1 through 16 {
    .act2_gift#{$i} {
      $width: $act2_li_width;
      $height: $act2_li_wheight;
      $background-image: url("../../../assets/images/#{$path}/pc/act2-gift.png");
      $background-size: $width $height;
      $background-repeat: no-repeat;
      $background-position: center;
      background: #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
    }
  }
}