	/* 可以设置不同的进入和离开动画 */
	/* 设置持续时间和动画函数 */
	.fade-enter-active,
	.fade-leave-active {
	  transition: opacity 0.5s;
	}

	.fade-enter,
	.fade-leave-to

	/* .fade-leave-active, 2.1.8 版本以下 */
	  {
	  opacity: 0;
	}

	.maxBox {
	  width     : 100%;
	  height    : 100%;
	  position  : fixed;
	  top       : 0;
	  left      : 0;
	  background: rgba(17, 31, 50, 0.5);
	  z-index   : 5;
	}

	.centerBox {
	  width                : 4.91rem;
	  height               : 3.82rem;
	  position             : relative;
	  top                  : 50%;
	  left                 : 50%;
	  transform            : translate(-50%, -50%);
	  background           : #8ed7e5;
	  // background-size   : contain;
	  // box-shadow        : 0px 14px 0 0px #59a8bf;
	  border-bottom        : 0.1rem solid #59a8bf;
	  border-radius        : .2rem;
	}

	.close {
	  $width              : 0.25rem;
	  $height             : 0.26rem;
	  width               : $width;
	  height              : $height;
	  // margin-top       : 0.16rem;
	  $background-image   : url("../../pages/3ds_Th_20191201/images/pc/close.png");
	  $background-size    : $width $height;
	  $background-repeat  : no-repeat;
	  $background-position: center;
	  background          : #{$background-image} #{$background-position}/#{$background-size} #{$background-repeat};
	  position            : relative;
	  // border-radius    : 50%;
	  position            : absolute;
	  top                 : 0.24rem;
	  right               : 0.3rem;
	}

	.close:hover,
	.login_btn:hover,
	.login_btn1:hover,
	.fb_btn:hover,
	.server_btn:hover {
	  cursor : pointer;
	  opacity: 0.75;
	}

	.loginTip {
	  width     : 100%;
	  text-align: center;
	  position  : absolute;
	  top       : 2.3rem;
	  left      : 0;
	  color     : red;
	  z-index   : 99;
	}

	.zoneTip {
	  width     : 100%;
	  text-align: center;
	  position  : absolute;
	  top       : 2.6rem;
	  left      : 0;
	  color     : red;
	  z-index   : 99;
	}

	.zoneli {
	  height     : 0.36rem;
	  // border  : 1px solid red;
	  line-height: 0.36rem;
	  text-align : left;
	  text-indent: 10px;
	  color      : white;
	}

	.zoneli:hover {
	  cursor   : pointer;
	  font-size: 0.26rem;
	  color    : #0976d9;
	}

	.title {
	  font-size  : 0.24rem;
	  color      : #0976d9;
	  text-align : left;
	  padding-top: 0.77rem;
	  margin-left: 0.64rem;
	  line-height: 3;
	}

	.username,
	.userpass,
	.userzone {
	  width                 : 3.34rem;
	  height                : 0.48rem;
	  // border-radius      : 5px;
	  margin-left           : 0.8rem;
	  margin-top            : 0.5rem;
	  text-indent           : 0.24rem;
	  font-size             : 0.24rem;
	  background-color      : transparent !important;
	  background-image      : url("../../pages/3ds_Th_20191201/images/pc/login-input-bg.png") !important;
	  background-position   : center;
	  background-size       : 3.34rem 0.48rem;
	  background-repeat     : no-repeat;
	  // background-color   : #fafdff;
	  border-radius         : .24rem;
	  color                 : #0976d9 !important;
	}

	.userpass {
	  margin-top: 0.2rem;
	}

	.userzone-wrap {
	  position: relative;
	}

	.userzone {
	  margin-top : 1rem;
	  margin-left: 0.79rem;
	  text-indent: 0.3rem;
	}

	.zone-select-btn {
	  content      : "";
	  $width       : .52rem;
	  $height      : .47rem;
	  display      : block;
	  width        : $width;
	  height       : $height;
	  position     : absolute;
	  top          : 1.02rem;
	  left         : 3.6rem;
	  border-radius: .15rem;
	  $url         : url("../../pages/3ds_Th_20191201/images/pc/drop.png");
	  @include backgroundImage($url, center, .26rem .18rem, no-repeat);
	  background-color: #36a3ff;
	}

	// .kakaoBtn{
	//   width      : 207px;
	//   height     : 72px;
	//   margin-top : 20px;
	//   margin-left: 49px;
	//   background : url("./img/fbBtn.png");
	// }
	$btnWidth : 3.32rem;
	$btnHeight: 0.5rem;

	.login_btn1 {
	  width      : $btnWidth;
	  height     : $btnHeight;
	  margin-top : 0.38rem;
	  margin-left: 0.8rem;
	  background : url("../../pages/3ds_Th_20191201/images/pc/login-btn.png") no-repeat center center/$btnWidth $btnHeight;
	}

	.fb_btn {
	  width           : $btnWidth;
	  height          : $btnHeight;
	  margin-top      : 0.1rem;
	  margin-left     : 0.8rem;
	  border-radius   : 0.15rem;
	  background-color: #1877f2;
	}

	.fb_btn::after {
	  display         : block;
	  content         : "";
	  width           : .38rem;
	  height          : .38rem;
	  margin-top      : 0.02rem;
	  margin-left     : 1.48rem;
	  border-radius   : 0.15rem;
	  background-color: #1877f2;
	  background      : url("../../pages/3ds_Th_20191201/images/pc/fb-login-icon.png") no-repeat center/.38rem .38rem;
	}

	.server_btn {
	  width      : 2.52rem;
	  height     : .5rem;
	  margin-left: 1.19rem;
	  margin-top : .3rem;
	  background : url("../../pages/3ds_Th_20191201/images/pc/ok.png") no-repeat center center/2.52rem .5rem;
	}

	.selectZone {
	  width                     : 3.34rem;
	  height                    : 0;
	  margin-left               : 0.67rem;
	  margin-top                : -0.02rem;
	  overflow-y                : auto;
	  position                  : absolute;
	  background                : #8ed7e5;
	  z-index                   : 3;
	  border-bottom-left-radius : 0.1rem;
	  border-bottom-right-radius: 0.1rem;
	}

	.selectZone>p {
	  width      : 100%;
	  height     : 0.45rem;
	  line-height: 0.45rem;
	  font-size  : 0.24rem;
	  text-indent: 0.3rem;
	  color      : #0976d9
	}

	.userInfo {
	  font-size  : 0.24rem;
	  color      : #2c2c2c;
	  margin-left: 1.5rem;
	}